.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.getlocalstorage {
  order: 1;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.33s ease-in-out;
}
.wrapper {
  position: relative;
  width: 423px;
  height: 858px;

  background: linear-gradient(
    166.34deg,
    #fefefe 0%,
    #f9f9f9 12.84%,
    #f3f3f3 32.53%,
    #e5e5e5 100%
  );
  border-radius: 40px;
}
.buttons__wrapper {
  position: absolute;
  width: 423px;
  height: 507px;
  left: 0px;
  top: 351px;

  filter: drop-shadow(0px -5px 70px rgba(0, 0, 0, 0.1));
  border-radius: 30px;
  background: #a9dcfd;
  box-shadow: 0px -5px 70px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.buttonbox {
  position: absolute;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  width: 320px;
  height: 300px;
  top: 140px;
  border-radius: 40px;
  left: 20px;
}
.buttonbox__list {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 7px;
}

.logicbuttons {
  position: absolute;
  width: 70px;
  height: 430px;
  left: 319px;
  top: 40px;
  border-style: none;
  cursor: pointer;
  color: #373737;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.logicbuttons__divide {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #373737;
  border-style: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}
.logicbuttons__impact {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #373737;
  border-style: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}
.logicbuttons__removal {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #373737;
  border-style: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}
.logicbuttons__addition {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #373737;
  border-style: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}
.logicbuttons__equal {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #373737;
  border-style: none;
  cursor: pointer;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}
.topbuttons {
  position: absolute;
  width: 260px;
  height: 70px;
  left: 34px;
  top: 47px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.topbuttons__ac {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 14px;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.topbuttons__sign {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 109px;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #373737;
  border-style: none;
  cursor: pointer;
}
.topbuttons__mod {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 200px;
  border-radius: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #373737;
  border-style: none;
  cursor: pointer;
}
